// fonts
$font-primary: 'Varela Round', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$font-weight: 400;
$font-size: 16px;
$line-height: 1.4;

// colors
$white: #fff;
$blue: #1f4ba5;

$accent: $blue;
$bg-color-main: $white;
$color-main: #222;
